:root {
    --text-color: #ffffff74;
    --grey: #A9AFAF;
    --icon-green: #41C299;
    --red-dark: #443331;
    --red-light: #F35555;
    --green-light: #0FF6B0;
    --green-dark: #264C44;
    --body-gradient: linear-gradient(148deg, rgba(25, 51, 48, 1) 0%, rgba(14, 30, 30, 1) 100%);
}


nav {
    border-radius: 0px 0px 20px 20px;
    gap: 12px;
}


.container .frosted_glass {
    padding: 0%;
    display: unset;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
}

.chapter_holder{
    /* background-color: var(--green-dark); */
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    height: 70px;
    position: fixed;
    bottom: 120px;    ;
    right: 20px;
    width: fit-content;
    transition: opacity 0.5s ease, visibility 0.5s ease;
   
}

.chapter_holder .menu_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    border-radius: 100%;

}

.chapter_holder .menu_icon img{
    width: 70%;
    height: 70%;
    rotate: 180deg;
}

.chapter_holder .chapter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    height: 100%;
    padding-right: 6px;
    display: none;
}

.chapter .chapter_1{
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;


    
    
}

.chapter_active_color {
    background-color: #29ea831b;
    border-color: #29ea834e;
}


.chapter .chapter_2{
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    
}




/* Question container styles */

.container .gap_giver {
    width: 100%;
    height: 40px;
    /* background-color: rebeccapurple; */
}

.question_container {
    padding: 0px 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question_container .question_number_text{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;

    margin-bottom: 20px;
}

.question_container .question_number_text  {
    font-size: 16px;
    color: white;
}

.question_container .question_options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
}

.question_container .question_options .option {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 11px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.039);
}

.question_container .explanation {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 14px;
    font-style: italic;
    color: white;
    font-weight: normal;
    display: none;
    width: 100%;
}



.question_container .explanation .explanation_image {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 11px;
    background-color: rgba(255, 255, 255, 0.039);
    border: 1px solid var(--text-color);
    border-radius: 5px;
}



.question_container .explanation img {
    height: 32px;
    width: 32px;
}


.question_container .explanation .explanation_text {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 11px;
    background-color: rgba(255, 255, 255, 0.039);
    border: 1px solid var(--text-color);
    border-radius: 5px;

    /* display: none; */
}

.question_container .question_separator {
    width: 100%;
    height: 2px;
    background-color:  rgba(255, 255, 255, 0.112);
    margin: 18px 0px 30px 0px;
}

.question_container .question_options .answer_indicator_green {
    background-color: #31e2ad42;
    border-color: #0FF6B0;
    color: #0FF6B0;
}

.question_container .question_options .answer_indicator_red {
    background-color: #ff000044;
    border-color: #F35555;
    color: #FF4A4A;
}



.container .chapter_point_header {
    padding: 12px;
}

.container .chapter_point_header .chapter_point {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container .chapter_point_header .chapter_point .chapter_name {
    font-size: 24px;
    font-weight: bold;
}

footer {
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
}

footer.hidden {
    opacity: 0;
            visibility: hidden;
}